<?xml version="1.0"?>
<launch>

	<!--include file="$(find apriltag_ros)/launch/sitl.launch" /-->
	<include file="$(find gimbal_controller)/launch/sitl.launch" />

        <arg name="fcu_url" default="udp://127.0.0.1:14551@14555" />
        <arg name="gcs_url" default="" />
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        <arg name="log_output" default="screen" />
        <arg name="fcu_protocol" default="v2.0" />
        <arg name="respawn_mavros" default="false" />

        <include file="$(find mavros)/launch/node.launch">
                <arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
                <arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

                <arg name="fcu_url" value="$(arg fcu_url)" />
                <arg name="gcs_url" value="$(arg gcs_url)" />
                <arg name="tgt_system" value="$(arg tgt_system)" />
                <arg name="tgt_component" value="$(arg tgt_component)" />
                <arg name="log_output" value="$(arg log_output)" />
                <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
                <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
        </include>
	
	<!-- *********************************************************************** -->

        <node respawn="true" name="pid_yaw" pkg="pid" type="controller" output="log">
                <param name="node_name" value="pid_yaw"/>
                <param name="Kp" value="0.50"/>
                <param name="Ki" value="0.05"/>
                <param name="Kd" value="0.01"/>
                <param name="upper_limit" value="0.75"/>
                <param name="lower_limit" value="-0.75"/>
		<param name="windup_limit" value="0.2"/>
                <param name="max_loop_frequency" value="100.0"/>
                <param name="min_loop_frequency" value="100.0"/>
		<remap from="state" to="/pid/landing_pad/pixel_displacement/x"/>
		<remap from="setpoint" to="/pid/landing_pad/pixel_displacement/x/setpoint"/>
		<remap from="control_effort" to="/pid/landing_pad/pixel_displacement/x/control_effort"/>
		<remap from="pid_enable" to="/pid/landing_pad/pixel_displacement/x/enable"/>
                <param name="reconfigure_topic" value="reconfigure_topic/x"/>
        </node>

	<node pkg="landing_controller" type="landing_controller" name="landing_controller_node" output="screen" launch-prefix="" required="true" />

</launch>
