<?xml version="1.0"?>
<launch>

	<!--node pkg="tf" type="static_transform_publisher" name="static_transform_publisher_example" args="x y z x y z w parent_frame child_frame frequency " /-->

        <arg name="fontPath" value="$(find whycon_ros)/etc/font.ttf"/>
        <arg name="calibDefPath" value="$(find whycon_ros)/etc/default.cal"/>

	<!-- *********************************************************************** -->
	<arg name="launch_prefix" default="" /> <!-- set to value="gdbserver localhost:10000" for remote debugging -->
	<arg name="node_namespace" default="apriltag_ros_continuous_node" />
	<arg name="camera_name" default="/camera" />
	<arg name="camera_frame" default="camera_frame" />
	<arg name="image_topic" default="image_raw" />

	<!-- Set parameters -->
	<rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml" ns="$(arg node_namespace)" />
	<rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml" ns="$(arg node_namespace)" />

	<node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="$(arg node_namespace)" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)" >
		<!-- Remap topics from those used in code to those on the ROS network -->
		<remap from="image_rect" to="$(arg camera_name)/$(arg image_topic)" />
		<remap from="camera_info" to="$(arg camera_name)/camera_info" />

		<param name="camera_frame" type="str" value="$(arg camera_frame)" />
		<param name="publish_tag_detections_image" type="bool" value="true" />      <!-- default: false -->
	</node>

	<!-- *********************************************************************** -->

        <arg name="camInfo" default="/camera/camera_info" doc="camera_info topic"/>
        <arg name="camRaw" default="/camera/image_raw" doc="image_raw topic"/>

        <arg name="idBits" default="2" doc="Number of encoded bits"/>
        <arg name="idSamples" default="360" doc="Number of samples to detect ID"/>
        <arg name="hammingDist" default="0" doc="Hamming distance used for ID"/>
        <arg name="maxMarkers" default="1" doc="Maximum possible amount of markers to be tracked"/>
        <arg name="useGui" default="true" doc="Whether to use GUI"/>

        <node pkg="whycon_ros" type="whycon_ros" name="whycon_ros" args="$(arg fontPath) $(arg calibDefPath)" launch-prefix="" respawn="true" >

                <remap from="/camera/camera_info" to="$(arg camInfo)"/>
                <remap from="/camera/image_raw" to="$(arg camRaw)"/>

                <param name="useGui" value="$(arg useGui)"/>
                <param name="idBits" value="$(arg idBits)"/>
                <param name="idSamples" value="$(arg idSamples)"/>
                <param name="hammingDist" value="$(arg hammingDist)"/>
                <param name="maxMarkers" value="$(arg maxMarkers)"/>

        </node>
	
	<!-- *********************************************************************** -->
	
	<!--node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf"-->
	<!--node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_node">
		<param name="output_frame" value="body_enu"/>
		<param name="freq" value="30.0"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="odom_frame" value="body_enu"/>
		<param name="imu_used" value="true"/>
		<param name="imu0" value="/imu"/>
		<param name="vo_used" value="true"/>
		<param name="debug" value="true"/>
		<param name="self_diagnose" value="false"/>
		<param name="odom0" value="/ekf_input/odom_whycon_enu"/>
		<param name="odom1" value="/ekf_input/odom_apriltag_enu"/>
		<param name="odom0_differential" value="false" />
		<rosparam param="odom0_config">[true, true, true, false, false, false, false, false, false, false, false, false, false, false, false]</rosparam>
		<param name="odom1_differential" value="true" />
		<rosparam param="odom1_config">[true, true, true, false, false, false, false, false, false, false, false, false, false, false, false]</rosparam>
	</node-->
	
	<!-- *********************************************************************** -->

	<node pkg="image_view" type="image_view" name="apriltag_view" args="/tag_detections_image">
                <remap from="image" to="/tag_detections_image" />
        </node>
	
	<!-- *********************************************************************** -->
	
	<node name="velocity_north" pkg="pid" type="controller" ns="pid" output="screen" >
		<param name="node_name" value="velocity_north" />
		<param name="Kp" value="-0.6" />
		<param name="Ki" value="-0.1" />
		<!--param name="Kd" value="-0.5" /-->
		<param name="Kd" value="0" />
		<param name="upper_limit" value="4" />
		<param name="lower_limit" value="-4" />
		<param name="windup_limit" value="-10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
		<remap from="state" to="/landing_pad/body_neu/displacement/n" />
		<remap from="setpoint" to="/pid/body_neu/setpoint/n" />
		<remap from="control_effort" to="control_effort/n" />
		<remap from="pid_enable" to="pid_enable/n" />
		<!--remap from="reconfigure_topic" to="reconfigure_topic/n" /-->
		<param name="reconfigure_topic" value="reconfigure_topic/n" />
	</node>
	<node name="velocity_east" pkg="pid" type="controller" ns="pid" output="screen" >
		<param name="node_name" value="velocity_east" />
		<param name="Kp" value="-0.6" />
		<param name="Ki" value="-0.1" />
		<!--param name="Kd" value="-0.5" /-->
		<param name="Kd" value="0" />
		<param name="upper_limit" value="4" />
		<param name="lower_limit" value="-4" />
		<param name="windup_limit" value="-10" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
		<remap from="state" to="/landing_pad/body_neu/displacement/e" />
		<remap from="setpoint" to="/pid/body_neu/setpoint/e" />
		<remap from="control_effort" to="control_effort/e" />
		<remap from="pid_enable" to="pid_enable/e" />
		<!--remap from="reconfigure_topic" to="reconfigure_topic/e" /-->
		<param name="reconfigure_topic" value="reconfigure_topic/e" />
	</node>
	<node name="velocity_up" pkg="pid" type="controller" ns="pid" output="screen" >
		<param name="node_name" value="velocity_up" />
		<param name="Kp" value="-0.4" />
		<param name="Ki" value="-0.0" />
		<param name="Kd" value="-0.3" />
		<param name="upper_limit" value="1" />
		<param name="lower_limit" value="-1" />
		<param name="windup_limit" value="1" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
		<remap from="state" to="/landing_pad/body_neu/displacement/u" />
		<remap from="setpoint" to="/pid/body_neu/setpoint/u" />
		<remap from="control_effort" to="control_effort/u" />
		<remap from="pid_enable" to="pid_enable/u" />
		<!--remap from="reconfigure_topic" to="reconfigure_topic/u" /-->
		<param name="reconfigure_topic" value="reconfigure_topic/u" />
	</node>
	<node name="velocity_yaw" pkg="pid" type="controller" ns="pid" output="screen" >
		<param name="node_name" value="velocity_yaw" />
		<param name="Kp" value="1.5" />
		<param name="Ki" value="0.0" />
		<param name="Kd" value="0.1" />
		<param name="upper_limit" value="1" />
		<param name="lower_limit" value="-1" />
		<param name="windup_limit" value="1" />
		<param name="max_loop_frequency" value="100.0" />
		<param name="min_loop_frequency" value="100.0" />
		<remap from="state" to="/landing_pad/yaw_displacement" />
		<remap from="setpoint" to="/pid/body_neu/setpoint/yaw_rate" />
		<remap from="control_effort" to="control_effort/yaw_rate" />
		<remap from="pid_enable" to="pid_enable/yaw_rate" />
		<!--param name="reverse_acting" value="true" /-->
		<!--remap from="reconfigure_topic" to="reconfigure_topic/yaw" /-->
		<param name="reconfigure_topic" value="reconfigure_topic/yaw" />
	</node>
	<!-- *********************************************************************** -->

	<node pkg="gimbal_controller" type="gimbal_controller" name="gimbal_controller_node" args="$(arg fontPath) $(arg calibDefPath)" launch-prefix="" required="true" output="screen">
	</node>
	
	<!-- *********************************************************************** -->
	
        <arg name="fcu_url" default="udp://127.0.0.1:14551@14555" />
        <arg name="gcs_url" default="" />
        <arg name="tgt_system" default="1" />
        <arg name="tgt_component" default="1" />
        <arg name="log_output" default="screen" />
        <arg name="fcu_protocol" default="v2.0" />
        <arg name="respawn_mavros" default="false" />

        <include file="$(find mavros)/launch/node.launch">
                <arg name="pluginlists_yaml" value="$(find mavros)/launch/apm_pluginlists.yaml" />
                <arg name="config_yaml" value="$(find mavros)/launch/apm_config.yaml" />

                <arg name="fcu_url" value="$(arg fcu_url)" />
                <arg name="gcs_url" value="$(arg gcs_url)" />
                <arg name="tgt_system" value="$(arg tgt_system)" />
                <arg name="tgt_component" value="$(arg tgt_component)" />
                <arg name="log_output" value="$(arg log_output)" />
                <arg name="fcu_protocol" value="$(arg fcu_protocol)" />
                <arg name="respawn_mavros" default="$(arg respawn_mavros)" />
        </include>
	
	<!-- *********************************************************************** -->

		<node pkg="landing_controller" type="landing_controller" name="landing_controller_node" output="screen" args="$(arg fontPath) $(arg calibDefPath)" launch-prefix="" required="true" >
	</node>

</launch>
